.content {
  max-width: 700px;        /* keeps the box narrow */
  margin: 0 auto;          /* centers the box horizontally */
  padding: 20px;           /* inner spacing */
  background-color: rgba(0,0,0,0.0); /* semi-transparent background */
  border-radius: 10px;
  text-align: left;         /* left-aligns text inside the box */
}
p {
  color: white;
}
h1 {
  color: white !important;; 
  text-align: center;
  margin-top: 40px;
}
a {
  color: #DEDEDE; /* normal link color */
  text-decoration: none; /* optional: remove underline */
}
a:link { color: #DEDEDE; }    /* normal, unvisited link */
a:visited { color: #C9C7C7; }  /* visited link */
a:hover { color: #C9C7C7; } /* mouse over */
a:active { color: #C9C7C7; } /* clicked */
