.content {
  max-width: 700px;   /* limits width */
  margin: 0 auto;     /* centers it horizontally */
  padding: 0 16px;    /* adds some space on small screens */
  
}
p {
  color: white;
}
h1 {
  color: #333;
  text-align: center;
  margin-top: 40px;
}
